body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.navbar {
    background-color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_class {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo_span_class {
    color: #2e2f42;
    /* Span color */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav_link_class {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 1rem;
    text-decoration: none;
}

.nav_link_class:hover,
.nav_link_class:focus {
    color: #404bbf;
    /* Change color on hover/focus */
}

.contact_address_class {
    font-style: normal;
}

.contact_link_class {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.contact_link_class:hover,
.contact_link_class:focus {
    color: #404bbf;
    /* Change color on hover/focus */
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 1rem;
}

.footer-content {
    margin: 0 auto;
}